.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    /* Asegura que la tarjeta tenga un z-index menor que el formulario */
}

.register-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Asegura que el formulario esté encima de otros elementos */
}

.register-form-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    z-index: 1001;
    /* Asegura que el contenedor del formulario esté encima de otros elementos */
}

h2 {
    color: #3f51b5;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    position: relative;
    z-index: 1;
}

.mat-table {
    width: 100%;
    table-layout: auto;
}

.empty-state {
    text-align: center;
    color: #666;
    padding: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    /* Added central gap */
    gap: 20px;
}

.form-grid-item {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

button[mat-button] {
    background-color: #3f51b5;
    color: white;
}

button[mat-button]:hover {
    background-color: #303f9f;
}

button[mat-button][disabled] {
    background-color: #ccc;
    color: #666;
}

button[mat-button].cancel {
    background-color: #f44336;
    color: white;
}

button[mat-button].cancel:hover {
    background-color: #d32f2f;
}

.mat-header-cell,
.mat-cell {
    text-align: center;
}

.mat-header-cell .mat-icon,
.mat-cell .mat-icon {
    margin: 0 auto;
}

.mat-cell .mat-icon-button {
    margin-left: 5px;
    /* Espacio entre botones */
    display: inline-flex;
    /* Asegura que los botones se alineen en línea */
    align-items: center;
    justify-content: center;
}

.orange-button {
    color: orange;
}

.green-button {
    color: green;
}