<div class="landing-page">
  <div class="welcome-section">
    <h1>Bienvenido a tu Sistema de Gestion de Negocio</h1>
    <p>Administre fácilmente su personal, productos, servicios y más.</p>
  </div>

  <div class="info-section">
    <div class="info-card">
      <h2>Personal</h2>
      <p>Administre el personal de su negocio</p>
    </div>
    <div class="info-card">
      <h2>Productos</h2>
      <p>Controle los productos disponibles y su inventario</p>
    </div>
    <div class="info-card">
      <h2>Ingredientes</h2>
      <p>Gestione los ingredientes utilizados en su negocio</p>
    </div>
    <div class="info-card">
      <h2>Servicios</h2>
      <p>Administre los servicios ofrecidos por su centro</p>
    </div>
    <div class="info-card">
      <h2>Cuentas</h2>
      <p>Controle las cuentas y la facturación</p>
    </div>
    <div class="info-card">
      <h2>Existencias</h2>
      <p>Verifique el estado de sus existencias</p>
    </div>
  </div>
</div>
